.nav_container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  background-color: white;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

nav {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}
.nav_container > div:first-child {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}
.navbar_div {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1230px;
  margin: 0px auto;
  height: 104px;
}
div,
a,
ul,
li {
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}

.navbar_div .navbar_link {
  position: relative;
}

.navbar_anker {
  color: rgb(0, 107, 255);
  cursor: pointer;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar_div .logo_wrapper {
  height: 100%;
}
.logo_container {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex: 0 1 0%;
}

.list_container {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: auto;
}
ul {
  user-select: text;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li {
  user-select: text;
}
.list_element:hover {
  color: rgb(0, 107, 255);
}
.navbar_div > ul > li {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.2s linear 0s;
  position: relative;
  margin: 0px 20x;
}
.list_container > li {
  padding: 0px 20px;
}
.navbar_right_container > li {
  padding: 0px 10px;
}
.navbar_div > ul > li > a {
  font-size: 1rem;
  line-height: 1;
  color: rgb(0, 0, 0);
  font-weight: 700;
  transition: all 0.2s linear 0s;
  white-space: nowrap;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin: 0px 20x;
}
.navbar_div .list_element {
  position: relative;
}
a {
  text-decoration: none;
}
.navbar_right_container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: auto;
  min-width: auto;
}
.list_button_container {
  width: 100%;
  height: 100%;
}
.list_button_div {
  width: auto;
  height: auto;
  position: relative;
}

.list_button {
  position: relative;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s linear 0s;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 107, 255);
  opacity: 1;
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 40px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1;
}
button {
  border: none;
  margin: 0px;
  padding: 0px;
  width: auto;
  overflow: visible;
  background: transparent;

  font: inherit;

  appearance: none;
}
